#XfcePanelWindow {
  border-radius: 8px;
  border-bottom-color: #7E52A0;
}

.xfce4-panel#XfcePanelWindowHidden {
  opacity: 0%;
}

.xfce4-panel #whiskermenu-button {
  background-color: #7E52A0;
  border-radius: 8px;
  margin 2px;
}

.xfce4-panel #xfce4-notification-plugin {
  background-color: #7E52A0;
}

.xfce4-panel #pulseaudio-button {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #7E52A0;
}

.xfce4-panel #xfce4-power-manager-plugin {
  background-color: #7E52A0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

#sn-button-box {
  background-color: #7E52A0;
}
